body {
  background: #ccffcc;
  padding:50px;
}

div#crypto-container {
  background:#ccffff;
  width: 70%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 lightgrey;
}

span.left {
  font-weight: bold;
}

span.right {
  float:right;
}